mixin detals(client, project, web, link, options, text)
    .detals
        h4.detals-title Детали
        ol.detals-description
            li.detals-description-item
                p Клиент:
                p #{client}
            li.detals-description-item
                p Проект:
                p #{project}
            li.detals-description-item
                p Сайт:
                a(href= link target="_blank") #{web}
            li.detals-description-item
                p Верстка:
                p #{options}
            li.detals-description-item
                p Особенности:
                p #{text}